<div id="title">

    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <h2>{{web}}</h2>
</div>

<article class="about">

    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sagittis risus montes. Purus dictumst nullam lobortis consequat etiam vel mauris netus tellus suscipit, convallis bibendum porttitor quis ante mattis egestas eros aptent, dapibus habitant molestie conubia sapien ligula tempor quam mi. Dui molestie porta curae taciti volutpat risus dignissim fames, massa mollis magnis eu nullam dapibus sed integer tempor, vulputate vivamus eros tortor cum mattis ornare.
    </p>


</article>